3.28-publishing-a-twitter-status-updates-from-a-jms-topic/src/main/app/3.28_publishing_a_twitter_status_updates_from_a_jms_topic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/current/mule-twitter.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">
    <twitter:config name="Twitter" accessKey="${twitter.accessKey}" accessSecret="${twitter.accessSecret}" consumerKey="${twitter.apiKey}" consumerSecret="${twitter.apiSecret}" doc:name="Twitter"/>
    <jms:activemq-connector name="Active_MQ"  validateConnections="true" doc:name="Active MQ"/>
    
    <flow name="tweetNewBrews" doc:name="tweetNewBrews">
		<jms:inbound-endpoint topic="brews.new" doc:name="Listen to JMS topic" connector-ref="Active_MQ"/>
		<twitter:update-status status="Check out #[payload.name] and #[payload.type], our brand new #[map-payload:type]!"  
		config-ref="Twitter" doc:name="Update Twitter status"/>
	</flow>
</mule>
