2.4-sub-flow/src/main/app/sub-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:core="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd" version="EE-3.5.0">
          
    <jms:activemq-connector name="Active_MQ"  validateConnections="true" doc:name="Active MQ"/>
    
    <!--<start id="lis_02_sub-flow-1"/>-->

    
    <flow name="mainFlow1" doc:name="mainFlow1">
        <http:inbound-endpoint host="localhost"
                               port="8080"
                                doc:name="Recieve HTTP requests" exchange-pattern="request-response"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="aaa: #[payload]" level="INFO" doc:name="Logger"/>
        <flow-ref name="requestDispatcher" doc:name="Call sendToJMS flow"/>
        <component class="com.prancingdonkey.service.v2.EmailGateway" doc:name="Continue with Java code"/>
    </flow>

    <!--<end id="lis_02_sub-flow-1"/>-->

    
    <!--<start id="lis_02_sub-flow-2"/>-->
    <sub-flow name="requestDispatcher" doc:name="requestDispatcher">
        <choice doc:name="Choice">
            <when expression="#[payload.equals('subflow1') ]">
                <jms:outbound-endpoint queue="subflow1" connector-ref="Active_MQ" doc:name="Send to subflow1"/>
            </when>

            <otherwise>
                <jms:outbound-endpoint queue="subflow2" connector-ref="Active_MQ" doc:name="Send to subflow2"/>

            </otherwise>
        </choice>
    </sub-flow>
    <!--<end id="lis_02_sub-flow-2"/>-->    
</mule>