4.17-Using-xslt/src/main/app/xslt.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd" version="EE-3.5.0">

 	<flow name="xsl-simple-flow" doc:name="xsl-simple-flow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="simple" doc:name="Recieve HTTP requests"/>


<mulexml:xslt-transformer  
    xsl-file="xsl/prancing-to-gondor-bm.xsl" doc:name="Execute XSLT" maxActiveTransformers="5" maxIdleTransformers="2"/>

    </flow>

 	<flow name="xsl-param-flow" doc:name="xsl-param-flow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="param" doc:name="Recieve HTTP requests"/>


<mulexml:xslt-transformer 
    xsl-file="xsl/prancing-to-gondor-bm.xsl" doc:name="Execute XSLT" maxActiveTransformers="5" maxIdleTransformers="2">
    <mulexml:context-property 
        key="discount" value="10" />
    </mulexml:xslt-transformer>

    </flow>
    
 	<flow name="xsl-param-expr-flow" doc:name="xsl-param-expr-flow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="paramexpr" doc:name="HTTP"/>


<mulexml:xslt-transformer 
    xsl-file="xsl/prancing-to-gondor-bm.xsl" doc:name="XSLT">  
    <mulexml:context-property key="discount" 
        value="#[message.inboundProperties['discount']]" />
</mulexml:xslt-transformer>
    </flow>

 	<flow name="xsl-idle-flow" doc:name="xsl-idle-flow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="idle" doc:name="HTTP"/>


<mulexml:xslt-transformer maxActiveTransformers="5"
    maxIdleTransformers="5"
    xsl-file="xsl/prancing-to-gondor-bm.xsl" doc:name="XSLT"/>
    </flow>

</mule>