3.23-using-a-db-connector-to-insert-rows-into-a-table/src/main/app/using_a_db_connector_to_insert_rows_into_a_table.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml"
      xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd" version="EE-3.5.0">
    <context:property-placeholder location="common.properties" />
    <db:generic-config name="Generic_Database_Configuration" url="${jdbc.url}" doc:name="Generic Database Configuration" driverClassName="com.mysql.jdbc.Driver"/>
    <data-mapper:config name="CSV_To_Map" transformationGraphPath="csv_to_map_1.grf" doc:name="CSV_To_Map"/>
    
    <flow name="ftpProductsFromDatabase" doc:name="ftpProductsFromDatabase"> 
        <file:inbound-endpoint path="./data" doc:name="Poll for files"></file:inbound-endpoint>  
        <byte-array-to-string-transformer doc:name="Convert Byte Array to String"></byte-array-to-string-transformer>
        <data-mapper:transform config-ref="CSV_To_Map" doc:name="CSV To Map"/>
        <foreach doc:name="For Each">
            <db:insert config-ref="Generic_Database_Configuration" doc:name="Insert into database">
                <db:dynamic-query><![CDATA[INSERT INTO products VALUES(0,"#[payload['name']]",#[payload['acv']],#[payload['cost']],"#[payload['description']]")]]></db:dynamic-query>
            </db:insert>
        </foreach>
  
    </flow>


</mule>
