2.3-simple-composite-message-sources/src/main/app/message-sources.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:spring="http://www.springframework.org/schema/beans" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:core="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd" version="EE-3.5.0">
    <jms:activemq-connector name="Active_MQ"  validateConnections="true" doc:name="Active MQ"/>


    <flow name="main-flow" doc:name="main-flow">
        <composite-source doc:name="Composite Source">
            <jms:inbound-endpoint queue="main-flow.one-way" connector-ref="Active_MQ" doc:name="Listen to JMS queue"/>
            <jms:inbound-endpoint exchange-pattern="request-response" queue="main-flow.request-response" connector-ref="Active_MQ" doc:name="Listen to JMS queue"/>
        </composite-source>

        <logger message="#[payload]" level="INFO" doc:name="Log the message"/>
    </flow>

    
</mule>