3.3-using-an-http-inbound-endpoint-to-post-data-to-a-file/src/main/app/using_an_http_inbound_endpoint_to_post_data_to_a_file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="expenseReportCallback" doc:name="expenseReportCallback">
        <http:inbound-endpoint host="localhost"
                               port="8080"
                               path="expenseReportCallback"
                               
                               exchange-pattern="one-way" doc:name="Recieve HTTP requests"/>
        <file:outbound-endpoint path="./data/expenses/status"
        outputPattern="#[java.util.UUID.randomUUID().toString()]-#[org.mule.util.DateUtils.getTimeStamp('dd-MM-yy_HH-mm-ss.SSS')].xml" doc:name="Store an xml file to the filesystem"/> 
    </flow>
</mule>
